<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>crate_big_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>crate_metal.png</key>
      <dict>
        <key>frame</key>
        <string>{{153,4},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
      <key>crate_tnt.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,153},{141,141}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{141,141}}</string>
        <key>sourceSize</key>
        <string>{141,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Texture_Atlas.png</string>
      <key>size</key>
      <string>{298,298}</string>
      <key>textureFileName</key>
      <string>Texture_Atlas</string>
    </dict>
  </dict>
</plist>
