<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>Body.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,4},{139,212}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{139,212}}</string>
        <key>sourceSize</key>
        <string>{139,212}</string>
      </dict>
      <key>R_Leg_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,4},{49,169}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{49,169}}</string>
        <key>sourceSize</key>
        <string>{49,169}</string>
      </dict>
      <key>L_Leg_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,4},{63,168}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{63,168}}</string>
        <key>sourceSize</key>
        <string>{63,168}</string>
      </dict>
      <key>L_Leg_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,224},{41,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,152}}</string>
        <key>sourceSize</key>
        <string>{41,152}</string>
      </dict>
      <key>Head.png</key>
      <dict>
        <key>frame</key>
        <string>{{53,224},{99,150}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{99,150}}</string>
        <key>sourceSize</key>
        <string>{99,150}</string>
      </dict>
      <key>L_Arm_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{208,180},{44,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{44,109}}</string>
        <key>sourceSize</key>
        <string>{44,109}</string>
      </dict>
      <key>R_Arm_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,4},{45,109}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{45,109}}</string>
        <key>sourceSize</key>
        <string>{45,109}</string>
      </dict>
      <key>L_Arm_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,181},{29,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,92}}</string>
        <key>sourceSize</key>
        <string>{29,92}</string>
      </dict>
      <key>R_Arm_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{160,281},{29,92}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{29,92}}</string>
        <key>sourceSize</key>
        <string>{29,92}</string>
      </dict>
      <key>L_Foot_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,180},{62,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,39}}</string>
        <key>sourceSize</key>
        <string>{62,39}</string>
      </dict>
      <key>R_Foot_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,227},{62,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{62,39}}</string>
        <key>sourceSize</key>
        <string>{62,39}</string>
      </dict>
      <key>L_Foot_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{279,121},{34,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,46}}</string>
        <key>sourceSize</key>
        <string>{34,46}</string>
      </dict>
      <key>R_Foot_01.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,274},{34,46}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{34,46}}</string>
        <key>sourceSize</key>
        <string>{34,46}</string>
      </dict>
      <key>L_Hand.png</key>
      <dict>
        <key>frame</key>
        <string>{{197,328},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>R_Hand.png</key>
      <dict>
        <key>frame</key>
        <string>{{236,328},{31,39}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{31,39}}</string>
        <key>sourceSize</key>
        <string>{31,39}</string>
      </dict>
      <key>R_Leg_02.png</key>
      <dict>
        <key>frame</key>
        <string>{{4,224},{41,152}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{41,152}}</string>
        <key>sourceSize</key>
        <string>{41,152}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>pixelFormat</key>
      <string>RGBA8888</string>
      <key>premultiplyAlpha</key>
      <false/>
      <key>realTextureFileName</key>
      <string>Character_Parts.png</string>
      <key>size</key>
      <string>{328,380}</string>
      <key>textureFileName</key>
      <string>Character_Parts</string>
    </dict>
  </dict>
</plist>
